<%= form_with(url: '/', method: 'GET') do |f| %>
    <div class="row p-2">
        <div class="col-sm-2">
            <%= f.label :word, 'キーワード'%>
        </div>
        <div class="col-sm-10">
            <%= f.text_field :word, class: 'form-control', value: params[:word] %>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-sm-12">
            <% if @word %>
                <div class="card p-2">
                    <div class="card-body">
                        <h5 class="card-title"><%= @word.word %></h5>
                        <p class="card-text"><%= @word.meaning %></p>
                    </div>
                </div>
            <% else %>
                <p>指定されたキーワードにマッチする英単語はありませんでした。</p>
            <% end %>
            <% if @other_words && @other_words.length > 0 %>
                <h3 class="mt-5">その他関連する単語</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">単語</th>
                            <th scope="col">意味</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @other_words.each do |other_word| %>
                            <tr>
                                <td><%= other_word.word %></td>
                                <td><%= other_word.meaning %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-sm-6 p-1">
            <%= f.submit '調べる' , class: 'btn btn-primary btn-block w-100', name: nil %>
        </div>
        <div class="col-sm-6 p-1">
            <%= link_to 'クリア', '/', class: 'btn btn-warning btn-block w-100' %>
        </div>
    </div>
<% end %>
